{
	"presets": [
		[
			"env",
			{
				"targets": {
					"uglify": true
				},
				"modules": false
			}
		],
		"react"
	],
	"plugins": [
		"proposal-class-properties",
		"proposal-object-rest-spread",
		"syntax-dynamic-import"
	],
	"env": {
		"test": {
			"presets": ["env", "react"],
			"plugins": [
				"system-import-transformer",
				"proposal-class-properties",
				"proposal-object-rest-spread"
			]
		}
	}
}
